@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);.topbar {
  background-color: #0282f9;
  text-transform: uppercase;
  color: #FFF;
}

.topbar .container {
  margin: 0 auto;
  width: 80%;
  height: 30px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.topbar .container .dropdown {
  margin-left: 60px;
}

/* Dropdown Button */

.dropbtn {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: none;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  color: #000;
}

nav {
  /* Dropdown Button */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown Content (Hidden by Default) */
  /* Links inside the dropdown */
  /* Change color of dropdown links on hover */
  /* Show the dropdown menu on hover */
  /* Change the background color of the dropdown button when the dropdown content is shown */
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  height: 100px;
}

nav .container img {
  height: 90px;
}

nav .container ul {
  height: 100%;
  text-transform: uppercase;
  display: flex;
}

nav .container ul li {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

nav .container ul li:hover {
  position: relative;
  color: #0282f9;
}

nav .container ul li:hover::before {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0px;
  height: 6px;
  background-color: #0282f9;
}

nav .container ul li.active {
  position: relative;
}

nav .container ul li.active::before {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0px;
  height: 6px;
  background-color: #0282f9;
}

nav .dropbtn {
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  border: none;
}

nav .dropdown {
  position: relative;
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

nav .dropdown-content a:hover {
  background-color: #ddd;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

nav .dropdown:hover .dropbtn {
  color: #000;
}

.jumbotron {
  height: 500px;
  background: url("/img/jumbotron.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.main-inner .current-series {
  position: absolute;
  padding: 10px 20px;
  margin: -40px -10px;
  text-transform: uppercase;
  background-color: #0282f9;
}

.main-inner .comic-card {
  width: 180px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
}

.main-inner .comic-card .comic-cover {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.main-inner .comic-card .comic-cover img {
  width: 100%;
}

.main-inner .comic-card span {
  margin: 20px 0;
  text-transform: uppercase;
}

.more-comics {
  margin: 0 auto;
  padding: 10px 40px;
  background-color: #0282f9;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
}

.footer-shop {
  background-color: #0282f9;
  display: flex;
  justify-content: space-between;
}

.footer-shop ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-shop ul li {
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footer-shop ul li:hover {
  position: relative;
}

.footer-shop ul li:hover:before {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  top: 0;
  height: 4px;
  background-color: #fff;
}

.footer-shop ul li:hover:after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 0;
  height: 4px;
  background-color: #fff;
}

.footer-shop ul li img {
  height: 60px;
}

.footer-shop ul li span {
  text-transform: uppercase;
  color: #FFF;
  padding-left: 20px;
}

.footer-link {
  height: 400px;
  background: url("/img/footer-bg.jpg");
  background-size: cover;
}

.footer-link .footer-link-inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.footer-link .footer-link-inner .link-box {
  width: 50%;
  padding: 20px 50px 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer-link .footer-link-inner .link-box h3 {
  text-transform: uppercase;
  color: #fff;
  margin: 20px 0;
}

.footer-link .footer-link-inner .link-box li {
  color: #889595;
  margin-bottom: 5px;
  cursor: pointer;
}

.footer-link .footer-link-inner .link-box li:hover {
  color: #FFF;
}

.footer-link .footer-link-inner .footer-logo {
  width: 50%;
  height: 100%;
  background: url("/img/dc-logo-bg.png") no-repeat;
  background-position: center;
}

.footer-social {
  background-color: #333;
}

.footer-social .footer-social-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer-social .footer-social-inner .footer-signin {
  width: 60%;
  display: flex;
  align-items: center;
}

.footer-social .footer-social-inner .footer-signin a {
  padding: 10px;
  border: 3px solid #0282f9;
  text-decoration: none;
  color: #FFF;
}

.footer-social .footer-social-inner .footer-signin a:hover {
  background-color: #FFF;
  color: #000;
}

.footer-social .footer-social-inner .footer-social-link {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social .footer-social-inner .footer-social-link h3 {
  text-transform: uppercase;
  color: #0282f9;
}

.footer-social .footer-social-inner .footer-social-link ul {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer-social .footer-social-inner .footer-social-link ul li {
  cursor: pointer;
}

.footer-social .footer-social-inner .footer-social-link ul li:hover {
  filter: brightness(1.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #0282f9;
  text-decoration: none;
}

main {
  color: #fff;
  background-color: #333;
  padding: 20px 0 30px;
  text-align: center;
}

.box {
  margin: 200px 0;
}

