* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
a:link, a:hover{
    text-decoration: none;
}

a:visited{
    color: $primary-link-color;
}

main{
  color: #fff;
  background-color: #333;
  padding: 20px 0 30px;
  text-align: center;
}