nav {
    padding: 20px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    height: 100px;
    ul {
      height: 100%;
      text-transform: uppercase;
      display: flex;
      li {
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 5px;
        &:hover {
          position: relative;
          color: $primary-link-color;
          &::before {
            content: '';
            position: absolute;
            left: 10%;
            right: 10%;
            bottom: 0px;
            height: 6px;
            background-color: $primary-link-color;
          }
        }
        &.active {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            left: 10%;
            right: 10%;
            bottom: 0px;
            height: 6px;
            background-color: $primary-link-color;
          }
        }
      }
    }
  }
}
.jumbotron {
    height: 500px;
    background: url("/img/jumbotron.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
  }
