.footer-shop {
    background-color: $primary-link-color;
    display: flex;
    justify-content: space-between;
    ul {
      width: $inner-container-width;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
  
      li {
        height: 150px;
        cursor: pointer;
        display: flex;
        align-items: center;
  
        &:hover {
          position: relative;
        }
        &:hover:before{
          content: "";
              position: absolute;
              left: 10%;
              right: 10%;
              top: 0;
              height: 4px;
              background-color: #fff;
        }
        &:hover:after{
          content: "";
              position: absolute;
              left: 10%;
              right: 10%;
              bottom: 0;
              height: 4px;
              background-color: #fff;
        }
        img {
          height: 60px;
        }
  
        span {
          text-transform: uppercase;
          color: $footer-ico-link-color;
          padding-left: 20px;
        }
      }
    }
  }
  